---
import "../gobal.css";
import Projects from "../components/Projects.astro";
---

<html lang="fa">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>امیر محمد صانعی</title>
    </head>
    <body>
        <div class="container">
            <header class="header">
                <div class="info">
                    <div class="name">امیر محمد صانعی</div>
                    <div class="job">طراح و توسعه دهنده رابط کاربری</div>
                </div>
                <div class="img">
                    <img src="/images/amir.png" alt="" />
                </div>
            </header>
            <section class="quick-acc">
                <div class="item">
                    <div class="title">رزومه</div>
                    <div class="desc">
                        برای دانلود فایل PDF رزومه من کلیک کنید
                    </div>
                    <a href="#" class="action">دانلود</a>
                </div>
                <div class="item">
                    <div class="title">پروژه ها</div>
                    <div class="desc">
                        برای مشاهده لیست کاملی از پروژه های من کلیک کنید
                    </div>
                    <a href="#" class="action">مشاهده</a>
                </div>
                <div class="item">
                    <div class="title">مطالب</div>
                    <div class="desc">
                        مطالبی که راجع به موضوعات مختلف تهیه کردم رو میتونین
                        مشاهده کنین
                    </div>
                    <a href="#" class="action">مشاهده</a>
                </div>
            </section>
            <section class="skills">
                <header>
                    <div class="title">مهارت ها</div>
                    <div class="desc">*جمله بروسلی*</div>
                </header>
                <div class="items">
                    <div class="item">
                        <img src="/images/figma.svg" alt="" />
                        <div>Figma</div>
                    </div>
                    <div class="item">
                        <img src="/images/react.svg" alt="" />
                        <div>React js</div>
                    </div>
                    <div class="item">
                        <img src="/images/nextjs.svg" alt="" />
                        <div>Next js</div>
                    </div>
                    <div class="item">
                        <img src="/images/astro.svg" alt="" />
                        <div>Astro js</div>
                    </div>
                    <div class="item">
                        <img src="/images/tailwindcss.svg" alt="" />
                        <div>Tailwind</div>
                    </div>
                    <div class="item">
                        <img src="/images/git.svg" alt="" />
                        <div>Git</div>
                    </div>
                    <div class="item">
                        <img src="/images/typescript.svg" alt="" />
                        <div>TypeScript</div>
                    </div>
                    <div class="item">
                        <img src="/images/javascript.svg" alt="" />
                        <div>JavaScript</div>
                    </div>
                    <div class="item">
                        <img src="/images/html.svg" alt="" />
                        <div>HTML</div>
                    </div>
                    <div class="item">
                        <img src="/images/css.svg" alt="" />
                        <div>CSS</div>
                    </div>
                    <div class="item">
                        <img src="/images/bootstrap.svg" alt="" />
                        <div>Bootstrap</div>
                    </div>
                </div>
            </section>
            <Projects />
        </div>
    </body>
</html>
