---
import "../gobal.css";
---

<html lang="fa">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>امیر محمد صانعی</title>
    </head>
    <body>
        <div class="container">
            <header>
                <div class="info">
                    <div class="name">امیر محمد صانعی</div>
                    <div class="job">طراح و توسعه دهنده رابط کاربری</div>
                </div>
                <div class="img">
                    <img src="/images/amir.png" alt="" />
                </div>
            </header>
            <section class="quick-acc">
                <div class="item">
                    <div class="title">رزومه</div>
                    <div class="desc">
                        برای دانلود فایل PDF رزومه من کلیک کنید
                    </div>
                    <a href="#" class="action">دانلود</a>
                </div>
                <div class="item">
                    <div class="title">پروژه ها</div>
                    <div class="desc">
                        برای مشاهده لیست کاملی از پروژه های من کلیک کنید
                    </div>
                    <a href="#" class="action">مشاهده</a>
                </div>
                <div class="item">
                    <div class="title">مطالب</div>
                    <div class="desc">
                        مطالبی که راجع به موضوعات مختلف تهیه کردم رو میتونین
                        مشاهده کنین
                    </div>
                    <a href="#" class="action">مشاهده</a>
                </div>
            </section>
        </div>
    </body>
</html>
