<style>
    img {
        width: 32px;
        /* height: 32px; */
        aspect-ratio: 1/1;
        object-fit: contain;
        background-color: #fff;
        border-radius: 8px;
    }

    .radius {
        border-radius: 100%;
    }

    .clear {
        background-color: transparent;
        border-radius: 0;
    }

    .item {
        display: flex;
        gap: 16px;
        align-items: center;
        background-color: var(--color-bg-second);
        padding: 8px 16px;
        border-radius: 4px;
        text-decoration: none;
        color: var(--color-text-prime);
    }

    .links {
        direction: ltr;
        display: flex;
        gap: 16px;
        margin-top: 16px;
    }

    .info {
        display: flex;
        flex-direction: column;
    }
</style>

<div class="links">
    <a class="item" href="https://githab.com/amsanei" target="_blank">
        <img class="radius" src="/images/github.svg" alt="" />
        <div class="info">
            <div>@amsanei</div>
        </div>
    </a>
    <a class="item" href="https://www.figma.com/@amsanei" target="_blank">
        <img class="clear" src="/images/figma.svg" alt="" />
        <div class="info">
            <div>@amsanei</div>
        </div>
    </a>
    <a class="item" href="https://telegram.me/amsanei" target="_blank">
        <img class="radius" src="/images/telegram.svg" alt="" />
        <div class="info">
            <div>@amsanei</div>
        </div>
    </a>
    <a class="item" href="https://www.threads.net/@amsaneii" target="_blank">
        <img src="/images/threads.svg" alt="" />
        <div class="info">
            <div>@amsanei</div>
        </div>
    </a>
    <a class="item" href="https://www.instagram.com/amsaneii/" target="_blank">
        <img src="/images/instagram.svg" alt="" />
        <div class="info">
            <div>@amsaneii</div>
        </div>
    </a>
</div>
