<style>
    section {
        margin: 32px 0;
    }

    header {
        text-align: center;
        margin-bottom: 16px;
    }

    header .title {
        font-size: 20px;
        font-weight: bold;
    }
    header .desc {
        color: var(--color-text-second);
    }
    section img {
        width: 100%;
        border-radius: 4px;
        display: block;
        margin-bottom: 16px;
    }

    .items {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    .item {
        padding: 16px 16px;
        border-radius: 2px;
        background-color: var(--color-bg-second);
    }

    .items .title {
        font-weight: bold;
        font-size: 20px;
        margin-bottom: 8px;
    }

    .items .desc {
        color: var(--color-text-second);
        margin-bottom: 32px;
    }

    footer {
        display: flex;
        justify-content: space-between;
    }

    footer a {
        text-decoration: none;
        font-size: 14px;
        color: var(--color-text-prime);
    }
</style>

<section>
    <header>
        <div class="title">پروژه ها</div>
        <div class="desc">پروژه های انجام شده</div>
    </header>
    <div class="items">
        <div class="item">
            <div class="img">
                <img src="/images/uma-cert.png" alt="" />
            </div>
            <div class="title">وبسایت مرکز آپا</div>
            <div class="desc">
                برای درس کارآموزی در دانشگاه برای مرکز آپا وبسایتشون رو از نوع
                طراحی کردم
            </div>
            <footer>
                <a href="cert.uma.ac.ir" target="_blank">مشاهده وبسایت</a>
                <a href="#">جزییات بیشتر</a>
            </footer>
        </div>
        <div class="item">
            <div class="img">
                <img src="/images/uma-cert.png" alt="" />
            </div>
            <div class="title">وبسایت مرکز آپا</div>
            <div class="desc">
                برای درس کارآموزی در دانشگاه برای مرکز آپا وبسایتشون رو از نوع
                طراحی کردم
            </div>
            <footer>
                <a href="cert.uma.ac.ir" target="_blank">مشاهده وبسایت</a>
                <a href="#">جزییات بیشتر</a>
            </footer>
        </div>
    </div>
</section>
