---
const projects = await Astro.glob("../pages/projects/*.md");
---

<style>
    section {
        margin: 32px 0;
    }

    header {
        text-align: center;
        margin-bottom: 16px;
    }

    header .title {
        font-size: 20px;
        font-weight: bold;
    }
    header .desc {
        color: var(--color-text-second);
    }
    section img {
        width: 100%;
        height: 218px;
        object-fit: contain;
        background-color: var(--color-bg-second);
        border-radius: 4px;
        display: block;
        margin-bottom: 16px;
    }

    .items {
        display: grid;
        grid-template-columns: 1fr;
        gap: 16px;
    }

    .item {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid var(--color-border);
        padding-bottom: 8px;
    }

    .items .title {
        font-weight: bold;
        font-size: 18px;
        margin-bottom: 8px;
    }

    .items .desc {
        color: var(--color-text-second);
        margin-bottom: 32px;
    }

    footer {
        display: flex;
        justify-content: flex-end;
    }

    footer a {
        text-decoration: none;
        font-size: 14px;
        color: var(--color-text-prime);
    }

    @media only screen and (min-width: 992px) {
        .items {
            grid-template-columns: repeat(2, 1fr);
        }

        .items .desc {
            font-size: 14px;
        }
    }
</style>

<section>
    <header>
        <div class="title">پروژه ها</div>
        <div class="desc">پروژه های انجام شده</div>
    </header>
    <div class="items">
        {
            projects.map((project) => (
                <div class="item">
                    <div class="img">
                        <img src={project.frontmatter.thumbnail} />
                    </div>
                    <div class="title">{project.frontmatter.title}</div>
                    <div class="desc">{project.frontmatter.description}</div>
                    <footer>
                        <a href={project.url}>جزییات بیشتر</a>
                    </footer>
                </div>
            ))
        }
    </div>
</section>
