@font-face {
    font-family: "Estedad";
    src: url("/fonts/estedad/Estedad-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Estedad";
    src: url("/fonts/estedad/Estedad-Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

:root {
    --color-prime: blue;

    --color-border: #e7e7e7;

    --color-text-second: hsla(0, 0%, 40%, 1);
    --color-text-prime: #121212;

    --color-bg-prime: #fff;
    --color-bg-second: #fafafa;
}

* {
    box-sizing: border-box;
    font-family: Estedad;
}

body {
    margin: 16px 0;
    padding: 0;
    direction: rtl;
    color: var(--color-text-prime);
}

.container {
    width: 90%;
    margin: auto;
}

.header {
    display: flex;
    flex-direction: column-reverse;
    gap: 22px;
}

.header .img {
    width: 196px;
    height: 196px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-second);
    overflow: hidden;
    border-radius: 100%;
}

.header .img img {
    width: 168px;
    height: 168px;
    border-radius: 100%;
    object-fit: cover;
}

.info {
    text-align: center;
}

.name {
    font-size: 22px;
    font-weight: bold;
}

.job {
    color: var(--color-text-second);
}

.quick-acc {
    margin: 32px 0;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.quick-acc .item {
    display: flex;
    flex-direction: column;
    background-color: var(--color-bg-second);
    padding: 8px 16px;
}

.quick-acc .item .title {
    font-weight: bold;
}

.quick-acc .item .desc {
    color: var(--color-text-second);
}

.quick-acc .item .action {
    display: inline-block;
    margin-right: auto;
    margin-top: 32px;
    text-decoration: none;
    color: var(--color-text-prime);
}

.skills {
    margin-block: 64px;
}

.skills header {
    text-align: center;
    margin-bottom: 16px;
}

.skills header .title {
    font-weight: bold;
    font-size: 18px;
}

.skills header .desc {
    font-size: 14px;
    color: var(--color-text-second);
}

.skills .items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.skills .item {
    background-color: var(--color-bg-second);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 16px 8px;
}

.skills .item img {
    width: 58px;
    height: 58px;
}
